.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  background-color: #fff;
  height: 10vh;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 999;
}

.book-container {
  background-color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
  padding: 1rem;
  width: 80%;
}

.bookItem-container {
  display: flex;
  width: 80%;
  justify-content: space-around;
  padding: 1rem;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 2rem;
}

.Pencom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.chapter-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.bookup {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
}

.percent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
